@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

nav {
    display: flex;
    background-color: rgba(255, 255, 255, 0.85);
    height: 5rem;

    position: fixed;
    right: 0;
    left: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.nav-item:hover {
    color: red;
}

.nav-logo-container {
    text-decoration: none;
}

.nav-logo {
    height: 100%;
    transform: scale(0.75);
}

.bg-img {
    object-fit: cover;
    width: 100vw;
    height: 70vh;
}

section {
    padding-left: 15%;
    padding-right: 15%;
}

section img {
    width: 50%;
}

section h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

section p {
    font-size: 16px;
    font-weight:300;
    text-align: left;
}

footer {
    background: #ffffff;
    padding: 30px 25%;
}

footer .footer-sections {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

a {
    color: #5352ed;
}

a:hover {
    color: #70a1ff;
}

@media only screen and (max-width: 1000px) {
    footer .footer-sections {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        text-align: center;
    }
  }